#countnumber{
    font-family: Helvetica;    
    font-size: 10em;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-left: 240px;
}
.buttons{
    text-align: center;
    display:inline;
    justify-content: center;
}
#buttoncontainer button{
  color:rgb(0, 0, 0);
  background-color: rgb(72, 206, 230);
  border-color: rgb(0, 0, 0);
  margin:5px;
  font-size: large;
   font-size: 2em;
  padding: 15px 30px;
  padding: 20px 40px;
  align-items: center;
  transition: background-color 0.25s;
  cursor: pointer;
  border-radius: 10px;

}
#buttoncontainer button:hover {
  background-color: rgb(5, 6, 6);
  color: aliceblue;
  font-size: 2.5em;
}
